:root {
	--clr-neutral-100: hsla(0, 0%, 100%, 1);
	--clr-primary-800: hsla(229, 47%, 17%, 1);
	--clr-primary-700: hsla(229, 43%, 20%, 1);
	--clr-primary-400: hsla(230, 50%, 58%, 0.3);
	--clr-primary-300: hsla(229, 36%, 39%, 1);
	--clr-primary-200: hsla(229, 21%, 53%, 1);
	--clr-accent-400: hsla(147, 93%, 43%, 1);
	--clr-secondary-400: hsla(229, 78%, 60%, 1);

	--ff-base: 'Outfit', sans-serif;

	--fw-regular: 300;
	--fw-semi-bold: 400;
	--fw-bold: 700;

	--fs-200: 0.875rem;
	--fs-300: 1rem;
	--fs-400: 1.125rem;
	--fs-500: 1.375rem;
	--fs-600: 1.75rem;
	--fs-700: clamp(2rem, 10vw - 0.5rem, 3.25rem);

	color-scheme: dark;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* img {
	max-width: 100%;
	display: block;
} */

body {
	margin: 0;
	background-color: var(--clr-primary-700);
	color: var(--clr-neutral-100);
	font-family: var(--ff-base);
	font-size: var(--fs-400);
	font-weight: var(--fw-regular);
	line-height: 1.5;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.main-grid {
	--_aside-width: clamp(7.5rem, 20vw, 15rem);
	--_main-width: 1fr;
	--_gap-size: 10vw;

	display: grid;
	grid-template-columns: var(--_aside-width) var(--_main-width);
	gap: var(--_gap-size);
	grid-auto-flow: dense;
	align-items: center;
	min-height: 100vh;
	min-height: 100dvh;
}
.buttonSubmit {
	background-color: cornflowerblue;
	color: black;
}

main {
	padding-block: 2rem;
	grid-column: 2;
	width: calc(100vw - var(--_gap-size) - var(--_aside-width));
}

aside {
	grid-column: 1;
	align-self: stretch;
	display: flex;
	justify-content: end;
}

.eyebrow {
	color: var(--clr-secondary-400);
	font-size: var(--fs-300);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin: 0;
}

.page-title {
	font-size: var(--fs-700);
	text-transform: uppercase;
	margin: 0;
	line-height: 1;
}

.intro {
	font-size: var(--fs-500);
	max-width: 45ch;
}

.job-experience {
	display: grid;
	justify-content: start;
	gap: 1rem;
	grid-auto-flow: column;
	overflow-x: auto;
	position: relative;
	padding-block: 2rem;
	scrollbar-color: var(--clr-accent-400) var(--clr-primary-800);
}

.job-experience::-webkit-scrollbar {
	height: 0.75rem;
}
.job-experience::-webkit-scrollbar-track {
	background-color: var(--clr-primary-800);
	border-radius: 100vw;
}
.job-experience::-webkit-scrollbar-thumb {
	background-color: var(--clr-accent-400);
	border-radius: 100vw;
}

.job-experience::after {
	content: '';
	width: 50px;
	background: transparent;
}

.job {
	width: 36rem;
	border-radius: 0.5rem;
	padding: 2rem;
	background: var(--clr-primary-800);
}

.job * {
	margin: 0;
}

.job:first-child::before {
	content: 'Current role';
	position: absolute;
	color: var(--clr-accent-400);
	top: 0rem;
	left: 0;
}
.job::after {
	position: absolute;
	color: var(--clr-accent-400);
	top: 0rem;
	left: 0;
}

.year {
	color: var(--clr-accent-400);
	font-size: var(--fs-300);
	font-weight: var(--fw-bold);
	letter-spacing: 0.2em;
}

.job-info {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 1rem;
}

.role {
	font-size: var(--fs-600);
	line-height: 1.2;
}

.company {
	color: var(--clr-primary-200);
	font-size: var(--fs-300);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
}

.icon-list {
	height: 100%;
	border-left: 1px solid var(--clr-primary-300);
	padding: 0;
	margin: 0;
	list-style: none;
	display: grid;
	align-content: center;
	gap: 3rem;
}

.icon-list > li {
	position: relative;
	padding-left: 2rem;
}

.icon-list > li::after {
	--_size: 0.5rem;

	content: '';
	position: absolute;
	top: 0.5rem;
	left: 0;
	width: var(--_size);
	transform: translateX(-50%);
	aspect-ratio: 1;
	outline: 0.5rem solid var(--clr-primary-400);
	border-radius: 50%;
	background: var(--clr-neutral-100);
}
/* .element {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	background-color: red;
	animation-name: stretch;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}

@keyframes stretch {
	0% {
		transform: scale(0.3);
		background-color: red;
		border-radius: 100%;
	}
	50% {
		background-color: orange;
	}
	100% {
		transform: scale(1.5);
		background-color: yellow;
	}
}

body,
html {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
} */
/* .element {
	width: 100%;
	height: 100%;
	animation: pulse 5s infinite;
}

@keyframes pulse {
	0% {
		background-color: #001f3f;
	}
	100% {
		background-color: #ff4136;
	}
}

html,
body {
	height: 100%;
} */
.App {
	text-align: left;
	min-height: 100vh;
}
.App-header {
	background-color: #303030;
	min-height: 100vh;
	/* background-image: linear-gradient(180deg, #141055, #290f4b); */
	font-family: 'Macondo', cursive;
	justify-content: left;
	font-size: calc(10px + 2vmin);
	color: aqua;
}
/* .gradient {
	min-height: 100vh;
	background: conic-gradient(#070bf5a8 25%, #0000 0) 0/5em 5em,
		linear-gradient(-45deg, #161125 17%, #5e01019d 23%, #111fff 50%, #666 10%, rgb(83, 33, 33)) 0/5em 5em;
} */
.gradient-quotes {
	min-height: 100vh;
	background-image: radial-gradient(#233869a1, #1b2b49, rgb(8, 8, 8) 75%);
}
.setFont {
	font-size: 0.5rem;
	text-justify: inter-word;
	text-align: right;
}
.loel {
	display: inline-block;
	margin: 0 0.5rem;
	animation: zoomInLeft;
	animation-duration: 2.5s;
}
@keyframes zoomInLeft {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.nelson {
	display: inline-block;
	margin: 0 0.5rem;
	animation: zoomInRight;
	animation-duration: 2.5s;
}
@keyframes zoomInRight {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.made-by {
	display: inline-block;
	animation: fadeInDownBig;
	animation-duration: 0.5s;
}
@keyframes fadeInDownBig {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.heartPulse {
	animation: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}
.exit {
	animation: backOutUp;
	animation-duration: 1s;
}
.homepageGrid {
	display: grid;
	justify-content: center;
}
.columns-quotes {
	display: grid;
	justify-content: left;
	grid-auto-flow: column;
	color: aliceblue;
	width: min(90%, 75rem);
	padding: 0;
}
.border-primary-quotes {
	border: 0.05rem solid aqua;
	display: grid;
}
.tag-grid {
	display: grid;
	font-size: 0.75rem;
	grid-template-columns: repeat(6, minmax(5rem, 1fr));
}
.grid-col-span-2 {
	grid-column: span 2;
}
.card-quotes{
	font-size: var(--fs-400);
	padding: 1rem;
	border-radius: 2rem;
}
@media (max-width: 35em) {
	.card {
		font-size: 2.5rem;
	}
}
.card-quote {
	color: aliceblue;
	font-family: 'Inter';
	font-weight: 'bold';
}
.custom-button {
	background-color: rgb(0, 0, 0, 0.00001);
	color: aqua;
	border: none;
	border-radius: 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin: 1rem 1rem;
	cursor: pointer;
}
.custom-home-button {
	background-color: rgb(0, 0, 0, 0.00001);
	color: aqua;
	border: none;
	border-radius: 1rem;
	text-align: right;
	text-decoration: none;
	/* display: inline-block; */
	position: relative;
	font-size: 1rem;
	margin: 1rem 1rem;
	cursor: pointer;
}
.custom-tag-button {
	background-color: rgb(0, 0, 0, 0.00001);
	color: aqua;
	/* border: 5px; */
	border-radius: 0.5rem;
	text-align: center;
	text-decoration: none;
	/* display: inline-block; */
	font-size: 0.65rem;
	/* margin: 1rem 1rem; */
	font-family: 'Macondo', cursive;
	cursor: pointer;
}
.custom-author-button {
	background-color: rgb(0, 0, 0, 0.00001);
	color: aqua;
	border: none;
	border-radius: 1rem;
	text-align: center;
	text-decoration: none;
	/* display: inline-block; */
	font-size: 1.5rem;
	font-family: 'Macondo', cursive;
	/* margin: 1rem 1rem; */
	cursor: pointer;
}
.custom-category-button {
	background-color: rgb(0, 0, 0, 0.00001);
	color: aqua;
	border: none;
	border-radius: 1rem;
	text-align: center;
	text-decoration: none;
	/* display: inline-block; */
	font-size: 1rem;
	font-family: 'Macondo', cursive;
	/* margin: 1rem 1rem; */
	cursor: pointer;
}
.custom-input {
	border: 0.05rem solid aqua;
	border-radius: 1rem;
	padding: 0.05rem;
	font-size: 0.5rem;
	width: 100%;
	margin: 1rem 0.5rem;
	cursor: text;
}
.custom-input:focus {
	outline-color: blue;
	outline-style: groove;
}
.custom-button:hover {
	background-color: rgba(0, 255, 255, 0.616);
	color: rgb(3, 31, 32);
}
.custom-button:active {
	background-color: rgb(0, 255, 255, 0.5);
	color: black;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.all-about-me {
	display: grid;
	margin: auto;
	justify-content: center;
	font-size: var(--fs-600);
	color: var(--clr-accent-400);
}
.couple-image {
	justify-content: center;
	display: grid;
}
